<div  th:insert="commom/header.html" id="header" ></div>
<body xmlns:th="http://www.thymeleaf.org" >
  <div class="container">
    <td>

     <li class="text-center view-title" th:text="${boardDto.title}"></li>
     <p th:inline="text">작성일 : [[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]] </p>
     <p th:text="${boardDto.content}"></p>
      <!-- 수정/삭제 -->
    </td>
    <div>
        <a th:href="@{'/write/edit/' + ${boardDto.id}}">
            <button class="btn btn-dark" type="button">수정 </button>
        </a>
       <form id="delete-form" th:action="@{'/write/' + ${boardDto.id}}" method="post">
           <input type="hidden" name="_method" value="delete/">
           <button class="btn btn-danger" id="delete-btn"> 삭제 </button>
       </form>
   </div>
  </div>
<div th:insert="commom/footter.html" id="footer"></div>
<!-- 변수 셋팅 -->

</body>
