<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hyum</title>
    <!-- stylesheet -->


</head>
<body>
<div th:insert="commom/header.html" id="header"></div>
<div class="container mb-5">
    <form id="writeForm" action="/post" method="post">
        <ul class="write-title">
            <li class="row">
                <label class="col-2 label" for="title">제목</label>
                <div class="col-10 py-3">
                    <input type="text" class="form-control" name="title" id="title" placeholder="제목">
                </div>
            </li>
            <li class="content py-4">
                <label>
                    <textarea name="contents" class="contents form-control" placeholder="내용"></textarea>
                </label>
            </li>
        </ul>
        <div class="btn-area px-4 py-4 text-center">
            <button type="reset" class="btn btn-danger">취소</button>
            <button type="submit" class="btn btn-dark">등록</button>
        </div>
    </form>
</div>
<div th:insert="commom/footter.html" id="footter"></div>
<div class="loading">
    <div class="spinner-border text-primary"></div>
</div>

</body>
</html>